<!DOCTYPE html>
<!--<html xmlns:th="http://www.w3.org/1999/xhtml">-->
<html xmlns:th="http://www.thymeleaf.org">

<head lang="en">
    <meta charset="UTF-8"/>
    <title>一键拨号</title>
    <script src="/js/jquery-1.9.1.min.js"></script>
    <script src="/js/index.js"></script>
    <link rel="stylesheet" href="/css/index.css"/>
    <script>
        $(function(){
            //alert('initial');
        });
    </script>
</head>

<body>
    <div>
        <a>18182813107</a>
    </div>
</body>


</html>