<!DOCTYPE html>
<!--<html xmlns:th="http://www.w3.org/1999/xhtml">-->
<html xmlns:th="http://www.thymeleaf.org">

<head lang="en">
    <meta charset="UTF-8"/>
    <title>注册</title>
    <script src="/js/jquery-1.9.1.min.js"></script>
    <script src="/js/register.js"></script>
    <link rel="stylesheet" href="/css/register.css"/>
    <script>
        $(function(){
            //alert('initial');
        });
    </script>
</head>

<body>
    <form action="/registerAction">
        <div>
            <input type="text" id="uname" />
        </div>

        <div>
            <input type="password" id="pwd" />
        </div>

        <div>
            <button id="register" type="button">submit</button>
        </div>
    </form>
</body>

</html>